* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
html,
body{
        height: 100%; 
        width: 100%; 
}
#main{
    height: 50vh;
    width: 100%;
    padding: 5px 10px;
    /* background-color: #F46700; */
    position: relative;

    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;

    overflow: hidden;
}

.bgv{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
#nav,
.hero{
    z-index: -1;
}
#nav{
    color: rgb(253, 253, 253);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav> h4{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
}
.link{
    display: flex;
    gap: 25px;
}
#nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.centre{
    position: absolute;
    left: 50px;
    top: 50px;
}
#main h2{
    color: white;
    text-transform: lowercase;
    font-size: 55px;
    font-weight: 650;
}

#main h1{
    color: white;
    font-size: 65px;
    font-weight: 650;
    line-height: 1;
    margin-top: 8px;
    margin-left: 15px;
}
.creative{
    display: block;
}
.developer{
    display: block;
    margin-top: 1px;
    margin-left: 15px;
}

.para{
    color: white;
    position: absolute;
    right: 70px;
    top: 80%;
    transform: translateY(-30%);
    max-width: 260px;
}
p{
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
}
.para #p2{
    color: rgba(255, 255, 255, 0.701);
}
